kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: admin
  namespace: {{ item }}
subjects:
- kind: ServiceAccount
  name: {{ item }}
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: ""
